@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.protect h2,p{
    width: 60%;
    margin-left:20%;
    margin-right:20%;
    text-align:center;
}


.prevent-1{
    display: flex;
    justify-content: space-around;
}

.prevent-2{
    display: flex;
    justify-content: space-around;
}

.prevent-1 .reduce{
    width:30%;
    margin-left: 35%;
    margin-right: 35%;
}

.prevent-2 .reduce{
    width:30%;
    margin-left: 35%;
    margin-right: 35%;
}

.prevent-s img{
    width: 60%;
    margin-left: 20%;
    margin-right:20%;
}